<div>
    <div class="card card-4">
        <div class="card-body">
            <h2 class="title">Birim Kayıt Ekranı</h2>
            <form method="POST">
                <div class="row row-space">
                    <div class="col-12">
                        <div class="input-group">
                            <label class="labelinput--st">Ad</label>
                            <input class="input--style-4" type="text" name="ad" id="ad">
                        </div>
                    </div>
                </div>
                <div class="p-t-15">
                    <button class="btn btn--radius-2 btn--blue" type="submit">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>