@model Bolum

<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">Bölüm Düzenle</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    @using (Html.BeginForm("Duzenle", "Bolum", FormMethod.Post))
    {
        <div class="card-body">
            <div class="form-group">
                <label for="exampleInputEmail1"><b>Ad</b></label>
                @Html.TextBoxFor(x => x.ad, new { @class = "form-control" })
                @*<input type="text" class="form-control" name="ad" id="ad" placeholder="Ad" value="@Model.ad">*@

                <br />
                <div class="form-group">
                    <div class="col-12">
                        <label class="label"><b>Birimler</b></label>
                        <div class="rs-select2 js-select-simple select--no-search">
                            @Html.DropDownList("birimID", ViewBag.BirimListesi as SelectList, "Birim Seçiniz")
                            <div class="select-dropdown"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-info">Düzenle</button>
        </div>
    }
</div>